.fondo1{
	background-image: url("../img/dance_7.jpg");
	background-repeat: no-repeat;
	background-size:  cover;
	height: 390px;
}
.caja1{
	background-color: black;
	opacity: 0.5;
	width: 450px;
	height: 200px;
	color:white;
	margin-left: 460px;
	margin-top: 80px;
}
.texto{
	margin-top: 30px;
	font-family:Latolight ;
}
.fondo2{
	background-image: url("../img/tile2.png");
	height: 250px;
}
.titulo3{
	font-size: 20px;
	color: #808B96;
	margin-top: 90px;
}
.titulo2{
	font-size: 15px;
	color: #808B96;
	margin-top: 30px;
}
hr{
	width: 200px;
	margin-left:100px; 
	margin-top: 20px;
}
.imagenes{
	width: 200px;
	height:150px;
}
h1{
	margin-top: 20px;
	font-size: 30px;
}
.frase{
	font-size: 50px;
	margin-top: 150px;
}
.botonb{
	background-color: #1F618D;
	border: none;
	color: white;
	padding: 10px;
	width: 250px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
	cursor: pointer;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 80px;
}
.titulo1{
	margin-left: 160px;
	margin-top: 70px;
}